
@import 'bootstrap';
/* body {
  font-family: "Montserrat";
  text-align: center;
} */

body {
  font-family: "Montserrat";
  text-align: center;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
/*
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2O8dOnSfwYg0NPTYwTRuAAj0QqxmYBNM1briFaIzRbi3UiRZ75uNgUHGbfvabgfsHqGaIXYPAMAD8wgC/DOrZ4AAAAASUVORK5CYII=
       ) repeat; */
   background: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(153, 248, 255, 0.625) .1em, transparent .1em), linear-gradient(90deg, rgba(153, 248, 255, 0.625) .1em, transparent .1em);
  background-size: .4em .4em;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#ff4c68;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: ;
}

ul.topnav li a:hover:not(.active) {background-color: #00a2ff;
border-radius: 10px;}

ul.topnav li a.active {background-color: #8ed5ff; border-radius: 50px;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}




/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
   color:white;
}
#logo{
 /* width: 96px;  height: 107.66px; */
 width:76px;  height: 87.66px;
 /* padding-top: 30px; */

 /* margin: 20px 20px;  */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


header {
  background: #f5b335;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -40px;
}









h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}



p {
  color: #8f8f8f;
}
b {
  font-weight: bold;
  color: blueviolet;
}



b2 {
  font-weight: bold;
  color: rgb(255, 22, 22);
}

.w3-container,.w3-panel{padding:0.01em 2px; border-radius: 40px; border-color: #8f8f8f;    ;
  position: relative;

  left: 0%;}
.w3-panel{margin-top:16px;margin-bottom:16px;     }
.w3-pale-yellow,.w3-hover-pale-blue:hover{ padding: 10px 0px 10px 0px; color:#000!important;background-color:rgb(255, 253, 204)!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}

/* .navbar-nav{
  height: 20px;
} */
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

h4{
  padding: 14px;
}

/* Containers */

.container-fluid{
  padding: 5% 10% 3%;
}

/* Sections */

.colored-section {

  /* border-color: green; */
  background-color:   #ffffff;
  color: #fff;
  border-style: solid;
  border-width:thin;
  border-radius: 5px;
  border-color: rgb(235, 235, 235);

}

.white-section {

  /* background-color: #fff;   */
  /* background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em); */

}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
}



/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
 */
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
